* {padding:0; margin:0;}
body {font:12px Verdana,Arial,宋体,sans-serif; color:#333; line-height:16px; background:#dee9f6 url(../images/body_bg.gif) repeat-x;}
a {color:#1fabd3;text-decoration:none;}
a:hover {color:#f60;text-decoration:none;}
h3 {font:14px Verdana,Arial,宋体,sans-serif;}
#wrapper {width:968px; background:#ffffff; padding:0; margin:0 auto}
/*--顶部--*/
.headertop {clear:both; margin:0 auto; width:960px; height:110px; background:#f1f6fc url(../images/newhead.jpg) no-repeat;}
/*--中间--*/
.mainbox {clear:both; margin:5px auto; width:960px;}
.currentbox {clear:both; height:30px; line-height:30px; width:958px; background:url(../images/strap_bg.gif) repeat-x; border:#b6e6fb 1px solid; border-top:none;}
.currentnews {float:left; margin-left:5px;}
.mainleft {float:left; width:190px; margin:0 5px 0 0;}
.mainmid,.mainright,.mainsponsor {border:#b6e6fb 1px solid; border-top:none;}
.mainmid {float:left; width:763px; margin:0;}
.mainright {float:left; width:246px; margin:0;}
.mainsponsor {float:left; width:246px; margin:5px 0 0 0;}
.mainsp {border:#b6e6fb 1px solid; border-top:none; float:left; width:188px; margin:5px 0 0 0;}
.mainbox h3 {clear:both; margin:0; font-weight:bold; color:#1fabd3; height:28px; background:#edf6ff url(../images/mainbox.gif) repeat-x;}
.mainbox h3 span.boxhead {float:left; line-height:26px; margin-left:5px; margin-top:1px;}
.mainbox h3 span.boxright {float:right; line-height:26px; margin-right:5px; margin-top:1px;}
.mainsp ul,.mainright ul,.mainsponsor ul { TEXT-ALIGN:left; padding:5px;}
.mainmid ul { TEXT-ALIGN:left; padding:10px;}
.mainmid p {margin-bottom:8px;}
.mainbottom {clear:both; margin:5px auto; width:958px; height:78px; color:#333; background:url(../images/bottom_bg.gif); border:#b6e6fb 1px solid;}
.mainbottom a {color:#333; text-decoration:none;}
.mainbottom a:hover {color:#f60;text-decoration:none;}

/*--中文左边菜单--*/
#chmenu {width:130px; float:left; padding:0; margin:0 auto}
#chmenu .dropdown {display:block; position:relative;}
#chmenu .dropdown dt {width:126px; border:2px solid #b6e6fb; padding:8px 0px 8px 0px; text-align:center; cursor:pointer; font:14px Verdana,Arial,宋体,sans-serif; letter-spacing:4px; background:url(../images/menu.gif)}
#chmenu .dropdown .upperdd {border-bottom:none}
#chmenu .dropdown dt:hover {background:url(../images/menu_hover.gif) right;}
#chmenu .dropdown dt a, .dropdown dt a:active, .dropdown dt a:visited {display:block; color:#333; text-decoration:none;}
#chmenu .dropdown dt a:hover {color:#000;}
#chmenu .dropdown dd {position:absolute; top:0; overflow:hidden; width:88px; display:none; background:#fff; opacity:0}
#chmenu .dropdown ul {width:84px; border:2px solid #b6e6fb; list-style:none}
#chmenu .dropdown li {display:inline}
#chmenu .dropdown ul li a {display:block; padding:5px; color:#333; text-align:center;text-decoration:none; background:#eaf0f2; width:74px}
#chmenu .dropdown ul li a:hover {background:#d9e1e4; color:#000}
#chmenu .dropdown .underline {border-bottom:1px solid #b6e6fb}
/*--中文--*/
.chmainmid {border:#b6e6fb 1px solid; border-top:none; float:left; width:823px; margin:0;}
.chmainmid ul { TEXT-ALIGN:left; padding:10px; height:430px;}
.chmainmid p {margin-bottom:8px;}
.chmainleft {float:left; width:130px; margin:0 5px 0 0;}
.chmainsp {border:#b6e6fb 1px solid; border-top:none; float:left; width:128px; margin:5px 0 0 0;}
.chmainsp ul { TEXT-ALIGN:left; padding:5px;}
/*****注册登录*************************************/
.logintab{
	margin:10px auto;
	width:300px;
	background-color:#fbfbfb;
	border-collapse:collapse; 
	border-spacing:0;
	border:1px solid #b6e6fb;}
.logintable{
	background-color:#E5F0FF;
	height:30px;
	text-align:center;
	font-size:16px;
	font-family:Arial;
	color:#ff6600;
	font-weight:bold;}
.loginbn{
	height:50px;
	text-align:center;
	padding:0px 0px 0px 100px;
	font-size:16px;
	font-family:Arial;
	color:#ff6600;
	font-weight:bold;}
.logintd{
	background-color:#fbfbfb;
	width:120px;
	height:30px;
	text-align:right;
	padding:0px 5px 0px 0px;
	font-size:14px;
	font-family:Arial;
	color:#333;}
.loginput{font-family:Arial;font-size:14px;border:1px solid #7F9DB9;width:150px;color:#333;background-color:#fbfbfb;height:20px;padding:2px 3px;line-height:20px;overflow:hidden;
event:expression(onmouseover=function(){this.style.backgroundColor='#E5F0FF'},onmouseout=function(){this.style.backgroundColor='#fbfbfb'})   
}
.btn1,.btn2,.btn3{background:url(../images/nav_bg_l.png) no-repeat;border:0px; cursor:pointer!important;cursor:hand; display:inline}
.btn1{ width:66px; height:28px; background-position:-84px -152px; float:center; color: #2473A2;}
.btn2{ width:86px; height:33px; background-position:-150px -66px; float:left;}
.btn2:hover{ width:86px; height:33px; background-position:-150px -99px;}
.btn3{ width:86px; height:33px; background-position:-150px 0px; float:left;}
.btn3:hover{ width:86px; height:33px; background-position:-150px -33px;}
.btn4{ width:180px; height:30px;background:url(../images/input_bg.gif) no-repeat;border:0px; cursor:pointer!important;cursor:hand; display:inline;float:center; font:14px Verdana,Arial,宋体,sans-serif; color: #2473A2; font-weight:bold;}
.menutitle {cursor:pointer;}
/*--注册内容--*/
.maincontent {float:left; width:706px; margin:0 0 0 5px;}
.showtable,.showtable1 {background-color:#AACBEE;
	height:28px;
	text-align:left;
	padding:0px 0px 0px 8px;
	font:14px Verdana,Arial,宋体,sans-serif;
	color:#1fabd3;
	font-weight:bold;
}
.showtable {background-image:url(../images/maincontent.gif);}
.showtable1 {background-image:url(../images/mainright.gif);}
.showtd1 {height:430px;
	background-color:#FFFFFF;
	text-align:left;
	padding:10px 10px 10px 10px;
	border:1px solid #b6e6fb;
	border-top:none;}
.regtab{
	width:742px;
	background-color:#fbfbfb;
	border-collapse:collapse; 
	border-spacing:0; }
.regtable{
	line-height:150%;
	background-color:#E5F0FF;
	height:30px;
	text-align:left;
	padding:0px 0px 0px 20px;
	font-size:16px;
	font-family:Arial;
	color:#ff6600;
	font-weight:bold;}
.regspan{
	background-color:#fbfbfb;
	height:30px;
	text-align:left;
	padding:0px 0px 0px 20px;
	font-size:14px;
	font-family:Arial;
	color:#333;}
.regspan span{font-family:"宋体",Arial; font-size:12px; color:#ff6600;}
.regtd{
	background-color:#fbfbfb;
	width:200px;
	height:30px;
	text-align:right;
	padding:0px 5px 0px 0px;
	font-size:14px;
	font-family:Arial;
	color:#333;}
.regtd span{font-family:"宋体",Arial; font-size:12px; color:#ff6600;}
.regname{
	background-color:#fbfbfb;
	height:30px;
	padding:0px 5px 0px 0px;
	font-size:14px;
	font-family:Arial;
	color:#333;}
.formtext{font-family:Arial;font-size:14px;border:1px solid #7F9DB9;width:400px;color:#333;background-color:#fbfbfb;height:20px;padding:2px 3px;line-height:20px;overflow:hidden;
event:expression(onmouseover=function(){this.style.backgroundColor='#E5F0FF'},onmouseout=function(){this.style.backgroundColor='#fbfbfb'})   
}
.formname{font-family:Arial;font-size:14px;border:1px solid #7F9DB9;width:150px;color:#333;background-color:#fbfbfb;height:20px;padding:2px 3px;line-height:20px;overflow:hidden;
event:expression(onmouseover=function(){this.style.backgroundColor='#E5F0FF'},onmouseout=function(){this.style.backgroundColor='#fbfbfb'})   
}
.formselect{font-family:Arial; font-size:14px; border:1px solid #7F9DB9; color:#333; background-color:#fbfbfb; overflow:hidden;}
.formbody{font-family:Arial;font-size:14px;border:1px solid #7F9DB9;color:#333;background-color:#fbfbfb;padding:2px 3px;line-height:20px;
event:expression(onmouseover=function(){this.style.backgroundColor='#E5F0FF'},onmouseout=function(){this.style.backgroundColor='#fbfbfb'})   
}
/*--regonline.asp内容--*/
.regonline{width:742px;background-color:#fbfbfb;border-collapse:collapse;border-spacing:0;}
.regonlines{width:720px; background-color:#f1f9fc;border:1px solid #b6e6fb;border-collapse:collapse;border-spacing:0;}
.regonlines td{padding-left:8px;height:40px;text-align:left;line-height:150%;font-size:16px;font-family: "Times New Roman", Times, serif;color:#333;}
.regonliness{width:720px; background-color:#f1f9fc;border-collapse:collapse;border-spacing:0;}
.regonliness td{padding-left:8px;height:40px;text-align:left;line-height:150%;font-size:16px;font-family: "Times New Roman", Times, serif;color:#333;border:1px solid #b6e6fb;}
.regonlinetd{
	height:35px;
	text-align:center;
	line-height:150%;
	padding:0;
	font-size:22px;
	font-family: "Times New Roman", Times, serif;
	color:#333;
	font-weight:bold;}
.regonlinetdd{
	height:28px;
	text-align:center;
	padding:0;
	font-size:18px;
	font-family: "Times New Roman", Times, serif;
	color:#333;
	font-weight:bold;}
.regonlinetddd{
	height:18px;
	text-align:center;
	padding:0;
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
	color:#174ea8;
	font-weight:bold;}
.regonlinetdddd{
	height:25px;
	text-align:center;
	padding:0;
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
	color:#333;}
.onlinetd{
	padding-left:3px;
	height:35px;
	line-height:150%;
	text-align:left;
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
	color:#333;}
.onlinetdd{
	padding-left:10px;
	height:30px;
	line-height:150%;
	text-align:left;
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
	color:#333;}
.reginputck,.reginput,.reginput1,.reginput2,.reginput3,.reginput4,.reginput5,,.reginput6,.reginput7,.reginput8,.reginput9,.reginput10,.reginput11{
font-family:"Times New Roman";font-size:16px;color:#333;border-bottom:1px solid #666;border-top:none;border-left:none;border-right:none;height:20px;line-height:20px;text-align:center;overflow:hidden;
event:expression(onmouseover=function(){this.style.backgroundColor='#E5F0FF'},onmouseout=function(){this.style.backgroundColor='#fbfbfb'})   
}
.reginputck{width:80px;padding-left:3px;}
.reginput{width:133px;padding-left:3px;}
.reginput1{width:634px;padding-left:3px;}
.reginput2{width:544px;padding-left:3px;}
.reginput3{width:133px;padding-left:3px;}
.reginput4{width:294px;padding-left:3px;}
.reginput5{width:220px;padding-left:3px;}
.reginput6{width:194px;padding-left:3px;}
.reginput7{width:120px; text-align:center}
.reginput8{width:130px;padding-left:3px;}
.reginput9{width:170px;padding-left:3px;}
.reginput10{width:140px;}
.reginput11{width:480px;}
.regselect{font-family:"Times New Roman"; font-size:14px; border:1px solid #666; color:#333; background-color:#fbfbfb; overflow:hidden;}
/*--show.asp内容--*/
.mainrightshow {float:left; width:762px; margin:0;}
/*--news.asp内容--*/
#wen_z {
	WIDTH: 722px; PADDING: 10px; FLOAT: left;
}
#wen_biao {
	WIDTH: 722px; TEXT-ALIGN: center; PADDING-bottom:5px; font-size: 20px; word-wrap:break-word; overflow:hidden; 
}
#wen_ban {
	WIDTH: 100%; color:#aaaaaa; BORDER-TOP: #aaaaaa 1px dashed; PADDING-TOP:0; TEXT-ALIGN: right;  word-wrap:break-word; overflow:hidden; 
}
#wen_nr {
	WIDTH: 100%; LINE-HEIGHT: 180%; PADDING-TOP: 15px; TEXT-ALIGN: left;  word-wrap:break-word; overflow:hidden; 
}
/*--list.asp内容--*/
.listtable {height:30px; text-align:left; }
.listtable tr{ background-color:expression('#FFFFFF,#eff3f6'.split(',')[rowIndex%2]); }
.listtable td{ height:30px;}
/************print.asp内容******************/
.table_one{
	margin:0 auto;
	width:700px;
	border-collapse:collapse;
	font-size:16px;
	font-family:Arial;
	margin-top:10px;
	margin-bottom:10px;
	border-left:1px solid #b6e6fb;
	border-top:1px solid #b6e6fb;
	background-color:#fff;}
.table_one a {color:#333; text-decoration:none;}
.table_one td{
	border-right:1px solid #b6e6fb;
	padding:6px 10px;
	border-bottom:1px solid #b6e6fb;}
.table_one .head{
	background-color:#f3f3f3;
	width:250px;
	text-align:right;
	font-weight:bold;
	border-right:1px solid #b6e6fb;
}
.table_one .head_tip{
	background-color:#E5F0FF;
	text-align:center;
	color:#ff6600;
	font-weight:bold;}