/*--左边菜单--*/
#menu {width:190px; float:left; padding:0; margin:0 auto}
.dropdown {display:block; position:relative}
.dropdown dt {width:176px; border:2px solid #b6e6fb; padding:8px 5px 8px 5px; font-weight:bold; cursor:pointer; background:url(../images/menu.gif)}
.dropdown .upperdd {border-bottom:none}
.dropdown dt:hover {background:url(../images/menu_hover.gif) right;}
.dropdown dt a, .dropdown dt a:active, .dropdown dt a:visited {display:block; color:#333; text-decoration:none;}
.dropdown dt a:hover {color:#000;}
.dropdown dd {position:absolute; top:0; overflow:hidden; width:168px; display:none; background:#fff; opacity:0}
.dropdown ul {width:164px; border:2px solid #b6e6fb; list-style:none}
.dropdown li {display:inline}
.dropdown ul li a,.dropdown ul li a:active,.dropdown ul li a:visited {padding:5px; display:block; color:#333; text-decoration:none; background:#eaf0f2;}
.dropdown ul li a:hover {background:#d9e1e4; color:#000;}
.dropdown .underline {border-bottom:1px solid #b6e6fb}
/*--左边菜单--红色强调--*/
.dropdown .underline1 {color:#F00; border-bottom:1px solid #b6e6fb}
.dropdown .underline1:visited {color:#F00; border-bottom:1px solid #b6e6fb}

